<!-- upcoming-gigs -->
{% if site.locale and site.locale != "" and site.locale != nil %}
<section class="page-section" id="{{ site.data.sitetext[site.locale].upcoming-gigs.section | default: " upcoming-gigs" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].upcoming-gigs.title | default: "upcoming-gigs" }}</h2>
        {% if site.data.sitetext[site.locale].upcoming-gigs.text %}
        {% endif %}
      </div>
    </div>

    <!-- Centered Bandsintown embed widget -->
    <div class="widget-center"> <!-- Added wrapper div for centering -->
      <a class="bit-widget-initializer" 
         data-artist-name="Goldrush"
         data-artist-id="15547753"  
         data-display-limit="5" 
         data-display-local-dates="false" 
         data-auto-style="false" 
         data-text-color="#cab962" 
         data-link-color="#cab962"
         data-background-color="rgba(0,0,0,0)" 
         data-display-lineup="false" 
         data-display-past-dates="false" 
         data-display-start-time="false" 
         data-separator-color="#e9e3b2"></a>
    </div>

    <!-- Include the Bandsintown widget script -->
    <script src="https://widget.bandsintown.com/main.min.js"></script>
  </div>
</section>
{% else %}
{% endif %}
<!-- End upcoming-gigs -->
